<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body>
    <div ng-app="app" class="mx-4 my-4">
        <h1 class="text-center text-2xl pb-2 border-b-2">Shopping List</h1>
        <div class="my-3">
            <div>
                <input type="text" name="search" id="search" class="input input-bordered input-warning w-full"
                    placeholder="Search...">
                <ul ng-controller="itemController">
                    <li class="flex justify-between items-center bg-purple-700 mt-2 p-2 rounded"
                        ng-repeat="(index, item) in items">
                        <span>{{item}}</span>
                        <span class="cursor-pointer" ng-click="removeItem(index)">
                            <i class="bi bi-x-circle"></i></span>
                    </li>
                    <li ng-if="items.length === 0" class="mt-2 p-2 text-center">(Empty List)</li>
                </ul>
            </div>
            <div class="my-4" ng-controller="addItemController">
                <input type="text" name="item" id="item" class="input input-bordered input-accent w-full"
                    placeholder="Item..." ng-model="item">
                <button class="w-full btn btn-success text-white p-1 mt-2" ng-click="addItem()"
                    id="add-btn">Add</button>
                <span class="text-red-800 font-bold" ng-show="error">Please an enter item.</span>
            </div>
        </div>
    </div>
    <script src="./assets/js/app.js"></script>
</body>

</html>